.navbar-default {
    background-color: rgb(248, 211, 107);
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.navbar-default .navbar-nav>li>a:hover {
    color: grey;
    background-color: black;
}

.navSecond {
    margin-top: 2.6%;
    background-color: rgb(114, 133, 134);
}

.navSeconda {
    font-size: 3rem;
}

.iconColor {
    color: rgb(238, 238, 20);
}

.iconColor2 {
    color: rgb(105, 105, 102);
}

.iconColor3 {
    color: rgb(21, 128, 62);
}

#country {
    padding: 5px 130px 5px 10px;
    border-radius: 10px;
    border: 1px solid rgb(194, 189, 189);
}

.bgModal {
    background-color: rgb(238, 231, 231);
    padding-top: 30px;
}

#size {
    padding: 5px 165px 5px 10px;
    margin-left: 6%;
    border-radius: 10px;
    border: 1px solid rgb(194, 189, 189);
}

.modalSpan {
    text-decoration: line-through;
    color: grey;
    font-style: italic;
    font-size: 1.5rem;
}

.buttonModal {
    background-color: rgb(140, 137, 148);
    border: 2px solid rgb(105, 104, 112);
    border-radius: 5px;
    color: white;
    width: 43%;
    height: 50px;
    font-size: 1.6rem;
    margin-top: 30px;
}

.py-4 {
    margin-left: 7%;
}

.py-6 {
    padding-top: 50px;
    padding-bottom: 40px;
}

.py-8 {
    margin-top: 20rem;
    padding: 20px 0 10px 0;
}

.navbar-default .navbar-nav>li>a:nth-child(1) {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    color: black;
    padding-left: 40%;
    margin-top: 10%;
}

.carousel-control.left {
    color: black;
    padding-right: 40%;
    margin-top: 10%;
}

#carousel-example {
    height: 20vh;
}

.py-1 {
    padding: 2% 18% 0 18%;
    font-size: 1.8rem;
}

.py-0 {
    padding: 0;
}

.py-7 {
    padding-right: 10px;
}

#carousel-example .carousel-indicators li {
    margin-bottom: -185px;
    background-color: rgb(192, 153, 46);
}

#carousel-example .carousel-indicators .active {
    margin-bottom: -185px;
    background-color: black;
}

.greenSpan {
    color: rgb(192, 153, 46);
    font-weight: bold;
}

.imgTest {
    border: 1px solid lightgrey;
    padding: 5px;
}

.hr {
    border: 2px solid rgb(192, 153, 46);
    width: 8%;
}

.logo {
    font-size: 2rem;
}

.h3Testemonials {
    font-size: 3rem;
    font-weight: bold;
}

.h1Main {
    font-size: 10rem;
    font-weight: bold;
    color: rgb(248, 211, 107);
}

.bgContact {
    background: linear-gradient(rgba(110, 29, 147, 0.5), rgba(219, 35, 216, 0.5)), url(2.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonSign {
    border: 0px solid #7D99CA;
    border-radius: 25px;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #876485, #FF57EE);
    color: white;
    padding: 5px 65px 5px 65px;
}

.buttonSecond {
    border: none;
    background-color: transparent;
    margin-left: 12%;
}

.form-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(190, 186, 186);
    border-radius: 0;
}

.py-2 {
    padding: 20px 50px 20px 50px;
}

.py-3 {
    padding-top: 20px;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(slide_01.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 90vh;
    background-color: rgba(114, 133, 134, 0.5);
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(slide_02.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 90vh;
    background-color: rgba(114, 133, 134, 0.5);
}

.slide3 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(slide_03.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 90vh;
    background-color: rgba(114, 133, 134, 0.5);
}

.carousel-caption {
    margin-bottom: 10%;
}

.img1 {
    background-image: url(product_01.png);
    background-size: cover;
    height: 50vh;
    position: relative !important;
}

.img2 {
    background-image: url(product_02.png);
    background-size: cover;
    height: 50vh;
    position: relative !important;
}

.img3 {
    background-image: url(product_03.png);
    background-size: cover;
    height: 50vh;
    position: relative !important;
}

.b1 {
    border-radius: 20px;
    background-color: rgb(254, 82, 91);
    color: white;
    padding: 7px 20px;
    margin-top: 3.5%;
}

.underText {
    position: absolute !important;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 2% 0 2% 0;
    opacity: 0.1;
}

.ping {
    padding-left: 0%;
    padding-right: 0%;
}

.bt {
    font-weight: bolder;
}

.ping:hover>.underText {
    display: block;
    opacity: 1;
}

.ping:hover>.pic {
    opacity: 0.1;
}

.w1 {
    margin: 0 auto;
}

.wom {
    height: 90px;
    width: 80px;
    border: 1px solid lightgrey;
}

.wom:hover {
    border: 1px solid black;
    cursor: pointer;
}

#exampleModal {
    width: 100%;
}

.btn-info {
    margin-top: 20px;
}

.iconFooter {
    padding: 10px;
    background-color: rgb(201, 192, 192);
    border-radius: 50%;
    color: white;
    margin-top: 20px;
}

.my-2 {
    margin-left: 10px;
}

.iconFb {
    width: 140%;
    height: 20%;
}

.h4Footer {
    font-size: 2rem;
    font-weight: bold;
}

.footerBg {
    background-color: rgb(248, 211, 107);
}