.navbar-default {
    background-color: #95A5A6;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.navSecond {
    margin-top: 2.6%;
    background-color: rgb(114, 133, 134);
}

.navSeconda {
    font-size: 3rem;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: rgb(81, 91, 92);
}

.navbar-default .navbar-nav>li>a:nth-child(1) {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    color: black;
    padding-left: 40%;
    margin-top: 10%;
}

.carousel-control.left {
    color: black;
    padding-right: 40%;
    margin-top: 10%;
}

#carousel-example-generic {
    height: 20vh;
}

.py-1 {
    padding: 2% 18% 0 18%;
    font-size: 1.8rem;
}

.carousel-indicators li {
    margin-bottom: -185px;
    background-color: grey;
}

.carousel-indicators .active {
    margin-bottom: -185px;
    background-color: black;
}

.greenSpan {
    color: rgb(8, 182, 167);
    font-weight: bold;
}

.imgTest {
    border: 1px solid lightgrey;
    padding: 5px;
}

.hr {
    border: 2px solid rgb(8, 182, 167);
    width: 8%;
}

.h3Testemonials {
    font-size: 3rem;
    font-weight: bold;
}

.bgContact {
    background-image: url(2.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonSign {
    background: rgba(203, 96, 179, 1);
    border-radius: 30px;
    color: white;
    padding: 5px 75px 5px 75px;
}

.form-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(190, 186, 186);
    border-radius: 0;
}

.py-2 {
    padding: 20px 50px 20px 50px;
}

.py-3 {
    padding-top: 20px;
}

.slide1 {
    background-image: url(slide_01.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 90vh;
    background-color: rgba(114, 133, 134, 0.5);
}

.slide2 {
    background-image: url(slide_02.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 90vh;
    background-color: rgba(114, 133, 134, 0.5);
}

.slide3 {
    background-image: url(slide_03.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 90vh;
    background-color: rgba(114, 133, 134, 0.5);
}

.carousel-caption {
    margin-bottom: 10%;
}

.img1 {
    background-image: url(product_01.png);
    background-size: cover;
    height: 50vh;
    position: relative !important;
}

.img2 {
    background-image: url(product_02.png);
    background-size: cover;
    height: 50vh;
    position: relative !important;
}

.img3 {
    background-image: url(product_03.png);
    background-size: cover;
    height: 50vh;
    position: relative !important;
}

.b1 {
    border-radius: 20px;
    background-color: rgb(254, 82, 91);
    color: white;
    padding: 7px 20px;
    margin-top: 3.5%;
}

.underText {
    position: absolute !important;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 2% 0 2% 0;
    opacity: 0.1;
}

.ping {
    padding-left: 0%;
    padding-right: 0%;
}

.bt {
    font-weight: bolder;
}

.ping:hover>.underText {
    display: block;
    opacity: 1;
}

.ping:hover>.pic {
    opacity: 0.1;
}

.w1 {
    margin: 0 auto;
}

.wom {
    height: 90px;
    width: 80px;
    border: 1px solid lightgrey;
}

.wom:hover {
    border: 1px solid black;
    cursor: pointer;
}

#exampleModal {
    width: 100%;
}